@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #00315e;
  --white-color: #ffffff;
  --secondary-color: #6ec1e4;
  --accent-color: #4fb7b3;
  --text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
}
